.mdc-typography {
    --mdc-theme-primary: #7e57c2;
    margin: 0rem 0rem 0rem 0rem ;
    font-family: 'Crimson Text';

}

.footer{
    background-color: #9575cd;
    padding: 1rem 1rem 1rem 1rem;
    color: white;

}

.mdc-tab{
    background-color: #ede7f6 !important; 
    font-family: 'Crimson Text';
    
}

.logostyle {
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    display: in-line;
}

.midwaystyle{
    background: linear-gradient(rgba(69,39,160, 0.3),rgba(69,39,160, 0.3)),
    no-repeat center/cover url(images/landingimage.png); padding: 5vw; 
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0rem 0rem 0rem 0rem ;
    font-size: calc(32px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));

}

.mdc-typography--headline2 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #391b92;
    text-align: center;
    font-family: 'Crimson Text';
}

.mdc-typography--headline3 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #391b92;
    text-align: center;
    font-family: 'Crimson Text';
}

.mdc-typography--headline4 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #391b92;
    font-family: 'Crimson Text';
}
.mdc-typography--headline5 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #512Da8;
    font-family: 'Crimson Text';
}
.mdc-typography--headline6 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #9575cd;
    font-family: 'Crimson Text';
    
}

.mdc-typography--body1 {
    margin: 1rem 1rem 1rem 1rem ;
    font-family: 'Crimson Text';
    
}

.mdc-typography--body2 {
    margin: 1rem 1rem 1rem 1rem;
    font-family: 'Crimson Text';
}

.mdc-typography--overline {
    margin: 5rem 5rem 5rem 5rem;
    text-decoration: none;
    font-family: 'Crimson Text';
}

.italic {
    font-style: italic;
}


.mdc-card{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.my-image-list{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.mdc-image-list__item{
    margin: 10px;
    border-radius: 8px;
    min-width: 150pt;
}

.mdc-image-list__image{
    border-radius: 8px; 
}  

.mdc-image-list__label{
    border-radius: 0 0 8px 8px;
    margin: 0rem 0rem 0rem 0rem;
    white-space: normal;
    overflow: visible;
    font-weight: bold;
    color: #391b92; 
    font-family: 'Crimson Text';
}

.adjust {
    position: none;
    border-radius: 0 0 8px 8px!important; 
    padding: 10px !important;
    height: auto !important;
    /* background: linear-gradient(rgba(96, 125, 139, 0.3),rgba(96, 125, 125, 0.3)) !important; */
    
}

.mdc-list-item{
    padding: .25rem;
    margin: 0rem 0rem 0rem 3rem ;
    text-decoration: none !important;
    font-family: 'Crimson Text';
}


.list-adjust {
    font-size: 90%;
    text-decoration: none !important;
    padding: 0rem 0rem 0rem .5rem ;
    color: #9575cd;
}

.list-adjust-redcoat {
    font-size: 90%;
    text-decoration: none !important;
    padding: 0rem 0rem 0rem .5rem ;
    color: #CB5863;
}



.redcoat4 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #673E49;
    font-family: 'Crimson Text';
}
.redcoat5 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #A54C5A;
    font-family: 'Crimson Text';
}
.redcoat6 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #CB5863;
    font-family: 'Crimson Text';
    
}


.spacemaker {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacemakeritem {
    width: 5em;
}

.spacemaker2 {
    width: 100%;
    margin: 0rem 0rem 0rem 0rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}